app-footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  /* text-align: center; */
}

.content {
  position: fixed;
  width: 100%;
  max-width: 1320px;
  left: 380px;
}
app-sidebar {
  width: 310px;
}

.flex {
  display: flex;
  text-align: justify;
}

#content {
  max-width: 1420px;
  text-align: justify;
}

@media (max-width: 767.98px) {
  app-sidebar {
    display: none;
  }
}
